html {margin: 0; padding: 0; }
body{ 
	margin: 0; padding: 5px;
	background: #414B04;
	/* background: #F5FFBB; */
	color: #1309C9;
	font-family: 'Delius', cursive;
	font-size: 16px;
}
ul,li { width: 100%; }
li {list-style-type: none; }

h1,h2,h3,h4 { margin: 0; padding: 0;}
/* pageHeader */
.pageHeader{ 
	margin: 5px 0; text-align: center; 
	width: 100%; padding: 20px 0;
	background: #F4A444;
}
.pageHeader > h1 { font-size: 26px; text-shadow: 1px 0px 2px #FFF; }
.pageHeader > h2 { font-size: 24px; font-weight: 800; text-shadow: 1px 0px 3px #FFF; }

/* desinasi */
#destinasi > li { 
	background-image: linear-gradient( 0deg,#E2F671,#F0FF9D,#F3FDBB);
	border: 1px solid #414B04;
	margin-bottom: 2px; line-height: 20px; 
	font-size: 14px;
	border-radius: 20px 0px 20px 0px;
}

#destinasi > li > p, #destinasi > li > p > label { margin: 0; padding: 0;}
p.namaOw {font-weight: bold; }
p.lokasiOw { font-style: italic; }


/* footer */
.footer-row{ 
	padding-bottom: 30px; padding-top: 20px;
	padding-left: 25px; padding-right: 25px;
	background: #414B04; color: #E0E0E0; 
}

.footer-row > p {
	font-size: 12px; text-align: center;
	margin: 0; padding: 0; width: 100%;
	font-family: monospace;
}
